<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="5.6.0" targetFramework="net20" developmentDependency="true" requireReinstallation="true" />
  <package id="Fody" version="6.5.3" targetFramework="net20" developmentDependency="true" />
  <package id="MSFTCompressionCab" version="1.0.0" targetFramework="net20" />
</packages>